{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
<p>any thought, question, probem? type it here and people can answer question and other people can see what u write and help you</p>
<!-- photo -->

<!-- text -->
<form class="form-group">
<p>what are you thinking?</p>
<input type="text" id="thoughts" name="thoughts">

</form>
<!-- likes -->
<a class="button" action="/likes">like</a>
<!-- answer -->
{% endblock %}

