{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="map-page-container">
  <div class="map-container">
    {{ map_html|safe }}

    <div class="map-legend">
      <div class="legend-item">
        <span class="legend-color academic"></span>
        <span>Academic Blocks</span>
      </div>
      <div class="legend-item">
        <span class="legend-color sports"></span>
        <span>Sports Facilities</span>
      </div>
      <div class="legend-item">
        <span class="legend-color common"></span>
        <span>Common Areas</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
